.layout-container {
  width: 100vw;
  height: 100vh;
  background-color: $background-body;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, 6vh) minmax(auto, 88vh) minmax(25px, 6vh);
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
  grid-area: header;
  box-sizing: border-box;
  background-color: $background-header;
}

.main {
  max-height: 89vh;
  grid-area: main;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.footer {
  grid-area: footer;
  background-color: $background-footer;
}

// @include tablet {
//   .header {
//     display: block;
//   }
// }
