.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-body;
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  max-width: 350px;
  height: 100%;
  // height: 100%;
}

@media (max-width: $max-tablet-width) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    max-width: 96%;
  }
}
