$background-body: #57bac1;
$background-header: #1c6b72;
$background-footer: #1c6b72;

$card-text: gray;
$card-background: white;

$form-text: white;

$max-tablet-width: 1280px;
$max-mobile-width: 780px;
