@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout-container {
  width: 100vw;
  height: 100vh;
  background-color: #57bac1;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, 6vh) minmax(auto, 88vh) minmax(25px, 6vh);
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  box-sizing: border-box;
  background-color: #1c6b72;
}

.main {
  max-height: 89vh;
  grid-area: main;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer {
  grid-area: footer;
  background-color: #1c6b72;
}

.homePage {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(auto, 88vh);
  grid-template-areas: "menu content content content  content";
}

.content {
  grid-area: content;
  width: 100%;
  height: 100%;
  background: #57bac1;
  box-sizing: border-box;
  overflow: scroll;
  display: flex;
  position: relative;
}
.content__wrapper {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(auto, 370px);
}
.content__error {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  font-style: normal;
  transform: translate(-50%, -50%);
  color: white;
}

.menu {
  grid-area: menu;
  box-sizing: border-box;
  padding: 30px 0;
  height: 100%;
  background-color: #1c6b72;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.card {
  max-width: 350px;
  height: 100%;
  background: white;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  height: 35px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  color: gray;
  margin-bottom: 10px;
}
.card__image {
  width: 80%;
}
.card__description {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  color: gray;
}

.searchForm {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.searchForm__lable {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  color: white;
}
.searchForm__inputForm {
  margin: 10px 0;
  height: 32px;
  box-sizing: border-box;
}

.select {
  width: 100%;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
  color: white;
}
.select__form {
  width: 100%;
  height: 32px;
  margin-top: 10px;
}
.select__input {
  width: 100%;
  margin: 10px 0;
  height: 32px;
  box-sizing: border-box;
}

.cityWrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.cityPage {
  height: 100%;
  background: white;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(200px, auto));
  grid-auto-rows: minmax(auto, 1fr);
  grid-template-areas: "image    about" "forecast  forecast ";
}
.cityPage__title {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 29px;
  font-style: normal;
  color: gray;
}
.cityPage__about {
  grid-area: about;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 35px;
}
.cityPage__image {
  grid-area: image;
  width: 100%;
  border-radius: 4px;
}
.cityPage__forecast {
  height: 100%;
  grid-area: forecast;
  display: flex;
  flex-direction: column;
}
.cityPage__close {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.cityPage__temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cityPage__select {
  height: 32px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  font-style: normal;
}

.forecast {
  height: 100%;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.forecast__title {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  color: gray;
  margin: 15px 0;
}
.forecast__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.forecast__oneDay {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  color: gray;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #57bac1;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  max-width: 350px;
  height: 100%;
}

@media (max-width: 1280px) {
  .container {
    max-width: 96%;
  }
}
@media (max-width: 780px) {
  .container {
    max-width: 96%;
  }
}/*# sourceMappingURL=style.css.map */